:root{
    --body-color1:#FAF4EC; /* body  nav*/
    --body-color2:#FFF8F0; /* a propos / temoignage */
    --white-color: white;
    --black-color: white;
    --btn-color: #8B1A1A;
    --btn-hover: #B22222;
    --pading: 2em;
    --fontsize2560 : 1.5rem;
    --fontsize1440 : 1.3rem;
    --fontsize1024 : 1.1rem;
    --fontsize768 : 1rem;
    --fontsize-768: 0.8rem;
    --H1 : 4rem;
    --H2 : 3rem;
    --H3 : 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-color1);
    font-size: var(--fontsize2560);
}
.section_temoignage{
    padding: 100px 2em 2em;
    /* padding: var(--pading); */
    background-color: var(--body-color2);
    height: 100vh;
}
.T_parti_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 50%;
}
.T_parti_1 h1,.T_parti_2 h1{
    font-size: var(--H2);
    color: #2b1904;
}
.temoigange_cards ,.partenaire_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}
.témoignage_liste{
    list-style: none;
    display: flex;
    gap: 320px;
    justify-content: start;
    align-items: center;
    width: 100%;
    overflow: scroll;
    position: relative;
}
.temoigange_cards .right{
    position: absolute;
    right: 80px;
    font-size: 50px;
    cursor: pointer;
}

.temoigange_cards .left{
    position: absolute;
    left: 80px;
    font-size: 50px;
    cursor: pointer;
}
.temoignage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}
.temoignage:target{
    transform: translateX(-50%);
}
.temoignage .image{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #2b1904;
    position: relative;
}
.temoignage .image img{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
.temoignage p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}
.temoigange_cards .t_pointe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.temoigange_cards .t_pointe span{
    opacity: 0.7;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #2b1904;
    cursor: pointer;
}
.temoigange_cards .t_pointe .span{
    opacity: 1;
    height: 15px;
    width: 15px;
    background-color: #2b1904;
}
.temoigange_cards .t_pointe span:hover{
    background-color: #2b1904;
    opacity: 1;
}
.T_parti_2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.partenaire_cards{
    padding: 50px;
    overflow: hidden;
}
 .cards_movie{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: max-content;
    transform: translateX(0);
    animation: movi 90s linear infinite;
}

@keyframes movi {
    0% {
        transform: translateX(48%); 
    }
    100% {
        transform: translateX(-48%);
    }
}
.carte{
    width: 400px;
    height:250px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
.carte img{
    width: 100%;
    height: 100%;
}
 
@media (max-width:1440px) {
    body{
        font-size: var(--fontsize1440);
    }
    .T_parti_1 h1,.T_parti_2 h1{
    font-size: var(--H1);
}
    .section_temoignage{
        height: auto;
    }
    .temoigange_cards ,.partenaire_cards{
    width: 90%;
}
.témoignage_liste{
    gap: 150px;
    
}
} 
@media (max-width:1024px) {
    body{
        font-size: var(--fontsize1024);
    }
    .temoigange_cards ,.partenaire_cards{
    width: 100%;
}
.temoigange_cards .right{
    right: 10px;
}

.temoigange_cards .left{
    left: 10px;
}
.témoignage_liste{
    gap: 80px;   
}
} 
@media (max-width:768px) {
    body{
        font-size: var(--fontsize768);
    }
    .temoigange_cards ,.partenaire_cards{
    width: 100%;
}
.témoignage_liste{
    gap: 150px;
}
    .carte{
    width: 300px;
    height:200px;
}
.T_parti_1 h1,.T_parti_2 h1{
    font-size: var(--H3);
}

}
@media (max-width:450px) {
    body{
        font-size: var(--fontsize768);
    }
    .temoigange_cards ,.partenaire_cards{
    width: 100%;
}
.témoignage_liste{
    gap: 120px;
}
    .carte{
    width: 300px;
    height:200px;
}
.témoignage_liste{
    padding-left: 60px;
}
}
@media (max-width:450px) {
    body{
        font-size: var(--fontsize768);
    }
    .temoigange_cards ,.partenaire_cards{
    width: 100%;
}
.témoignage_liste{
    gap: 120px;
}
    .carte{
    width: 300px;
    height:200px;
}
.témoignage_liste{
    padding-left: 60px;
}

}
@media (max-width:375px) {
.témoignage_liste{
    padding-left: 25px;
}

}
@media (max-width:320px) {
.témoignage_liste{
    padding-left: 0px;
}

}
