:root{
    --body-color1:#FAF4EC; /* body  nav*/
    --body-color2:#FFF8F0; /* a propos / temoignage */
    --white-color: white;
    --black-color: black;
    --btn-color: #2B1904;
    --pading: 2em;
    --fontsize2560 : 1.5rem;
    --fontsize1440 : 1.3rem;
    --fontsize1024 : 1.1rem;
    --fontsize768 : 1rem;
    --H1 : 4rem;
    --H2 : 3rem;
    --H3 : 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-color1);
}

/* Entête du projet */



/* Section A propos */



/* Section nos produit */

.produit {
    color: #2B1904;
    text-align: center;
}
.produit h1 {
    font-size: 3rem;
}
.produit h2 {
    font-size: 2.5rem;
}

.store_content {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em ;
}
.store_content a {
    text-decoration: none;
    color: var(--btn-color);
}
.store_content button {
    padding: 1em;
    width: 12em;
    color: var(--btn-color);
    background-color: var(--body-color1);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
    font-weight: bold;
    font-size: medium;
}

.store_content button:hover {
    padding: 1em;
    width: 12em;
    color: var(--white-color);
    background-color: var(--btn-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.partie1 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partie2 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partie3 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section_card {
    display: flex;
    gap: 1em;
    width: 90%;
    margin-top: 1em;
}

.card {
    width: 100%;
    border: 0.41px solid var(--btn-color);
    border-radius: 20px;
    
}

.card_media {
    height: 26rem;
} 
.card_media img {
    width: 100%;
    height: 100%; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.card_title {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    font-size: 20px;
}

.card_description {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 1em;
}

.etoile {
    color: gold;
}

.card_button {
    padding-bottom: 1em;
}

.bton1 {
    padding: 1em;
    width: 10em;
    color: var(--btn-color);
    background-color: var(--body-color1);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
}
.bton1:hover {
    padding: 1em;
    width: 10em;
    color: var(--white-color);
    background-color: var(--btn-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.voir_btn {
    margin-top: 6em;
}
.voir_btn button {
    padding: 1em;
    width: 12em;
    color: var(--btn-color);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
}
.voir_btn button:hover {
    padding: 1em;
    width: 12em;
    color: var(--btn-color);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
    color: white;
}

/* Section témoignage */



/* Section Contact */



/* Pied de page */





/* Section nos produit responsivité */
@media (max-width: 1440px) {
    .section_card {
        width: 100%;

    }
}

@media (max-width: 1024px) {
   .store_content button {
        width: 12em;
        font-size: 11px;
    }

    .card_media {
        height: 20rem;
    } 
}

@media (max-width: 768px) {
    .section_card {
        display: flex;
        flex-direction: column;
    }

    .store_content {
        gap: 1em ;
    }

    .store_content button {
        width: 12em;
        font-size: 11px;
    }
}
@media (max-width: 425px) {
    .store_content {
        gap: 1em ;
    }

    .store_content button {
        width: 12em;
        font-size: 8px;
        border-radius: 5px;
    }
}