:root{
    --body-color1:#FAF4EC; /* body  nav*/
    --body-color2:#FFF8F0; /* a propos / temoignage */
    --white-color: white;
    --black-color: black;
    --btn-color: #2B1904;
    --pading: 2em;
    --fontsize2560 : 1.5rem;
    --fontsize1440 : 1.3rem;
    --fontsize1024 : 1.1rem;
    --fontsize768 : 1rem;
    --fontsize-768: 0.8rem;
    --H1 : 4rem;
    --H2 : 3rem;
    --H3 : 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-color1);
    font-size: var(--fontsize2560);
}

/* Entête du projet */



/* SECTION À PROPOS */
.apropos {
    background-color: var(--body-color2);
    padding:  2em;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apropos h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.about-container {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    width: 90%;
    margin: auto;
}

.about-text {
    flex: 1;
    font-size: 1.3rem;
    line-height: 1.6;
}

.about-text p {
    margin-bottom: 1rem;
}
.about-btn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 12px 25px;
    background: #d8b076;     
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.3s ease;
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.about-btn:hover {
    transform: scale(1.05);
}

#toggle-gallery{
    display: none;
}
.images {
    width: 38rem; 
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    animation: floating 3s ease-in-out infinite;
}

.images:hover {
    transform: scale(1.07);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
}

.main-img:hover {
    transform: scale(1.05);
}
.gallery {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    
}
#toggle-gallery:checked ~ .gallery {
    max-height: 500px;
    max-width: 700px;
    opacity: 5;
}

.gallery img {
    width: 120px;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.08);
}
.images{
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    animation: floating 3s ease-in-out infinite;
}
.images:hover {
    transform: scale(1.07);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
}

/* Animation flottante */
@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@media (min-width: 2560px) {
    .apropos h2 {
        font-size: 5rem;
    }
    .about-text {
        font-size: 2rem;
        line-height: 1.8;
    }
    .images{
        width: 70rem;
    }
   .gallery img {
    width: 100px;
    border-radius: 10px;
    transition: 0.3s;
   position: relative;
   left: 8rem;
}
}
@media (max-width: 1024px) {

    
    .apropos h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    
    .about-text {
        font-size: 1rem;
        line-height: 1.6rem;
        text-align: center;
        padding: 0 1rem;
    }

    .images {
        width: 28rem;      
        margin: 0 auto;   
    }


    .gallery img {
        width: 90px;       
        position: relative;
        left: 0;          
        display: block;
        margin: 0.5rem auto;
    }
}

@media (max-width: 768px) {
    .apropos {
        height: auto;
        padding: 2em 1em;
    }

    .apropos h2 {
        font-size: 2.5rem;
    }

    .about-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 2rem;
    }

    .about-text {
        font-size: 1.2rem;
        width: 100%;
    }

    .images {
        width: 25rem;
        margin: auto;
    }

    .gallery {
       display: flex;
       
        justify-content: center;
    }

    .gallery img {
        width: 70px;
        left: 0;
    }
}

@media (max-width: 425px) {
    .apropos h2 {
        font-size: 2rem;
    }

    .about-text {
        font-size: 1rem;
    }

    .images {
        width: 18rem;
    }

    .gallery img {
        width: 60px;
    }
}
@media (max-width: 375px) {
    .apropos h2 {
        font-size: 1.8rem;
    }

    .about-text {
        font-size: 0.95rem;
    }

    .images {
        width: 16rem;
    }

    .gallery img {
        width: 55px;
    }
}























/* Section nos produit */

.produit {
    color: #2B1904;
    text-align: center;
}
.produit h1 {
    font-size: 3rem;
}
.produit h2 {
    font-size: 2.5rem;
}

.store_content {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em ;
}
.store_content a {
    text-decoration: none;
    color: var(--btn-color);
}
.store_content button {
    padding: 1em;
    width: 12em;
    color: var(--btn-color);
    background-color: var(--body-color1);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
    font-weight: bold;
    font-size: medium;
}

.store_content button:hover {
    padding: 1em;
    width: 12em;
    color: var(--white-color);
    background-color: var(--btn-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.partie1 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partie2 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partie3 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section_card {
    display: flex;
    gap: 1em;
    width: 90%;
    margin-top: 1em;
}

.card {
    width: 100%;
    border: 0.41px solid var(--btn-color);
    border-radius: 20px;
    
}

.card_media {
    height: 26rem;
} 
.card_media img {
    width: 100%;
    height: 100%; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.card_title {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    font-size: 20px;
}

.card_description {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 1em;
}

.etoile {
    color: gold;
}

.card_button {
    padding-bottom: 1em;
}

.bton1 {
    padding: 1em;
    width: 10em;
    color: var(--btn-color);
    background-color: var(--body-color1);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
}
.bton1:hover {
    padding: 1em;
    width: 10em;
    color: var(--white-color);
    background-color: var(--btn-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.voir_btn {
    margin-top: 6em;
}
.voir_btn button {
    padding: 1em;
    width: 12em;
    color: var(--btn-color);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
}
.voir_btn button:hover {
    padding: 1em;
    width: 12em;
    color: var(--btn-color);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
    color: white;
}

/* Section témoignage */

.section_temoignage{
    /* padding-top: 100px; */
    padding: var(--pading);
    background-color: var(--body-color2);
    height: 100vh;
}
.T_parti_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 50%;
}
.temoigange_cards ,.partenaire_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}
.témoignage_liste{
    list-style: none;
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.temoigange_cards .right{
    position: absolute;
    right: 0px;
    font-size: 50px;
    cursor: pointer;
}
.temoigange_cards .left{
    position: absolute;
    left: 0;
    font-size: 50px;
    cursor: pointer;
}
.temoignage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}
/* @keyframes movie {
    0% {
        transform: translateX(0%); 
    }
    100% {
        transform: translateX(-100%);
    }
} */
.temoignage .image{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #2b1904;
    position: relative;
}
.temoignage .image img{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
.temoignage p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}
.temoigange_cards .t_pointe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.temoigange_cards .t_pointe span{
    opacity: 0.7;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #2b1904;
    cursor: pointer;
}
.temoigange_cards .t_pointe .span{
    opacity: 1;
    height: 15px;
    width: 15px;
    background-color: var(--btn-color);
}
.temoigange_cards .t_pointe span:hover{
    background-color: var(--btn-color);
    opacity: 1;
}
.T_parti_2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.T_parti_2 h1{
    margin-top: 20px;
}
.partenaire_cards{
    padding: 50px;
    overflow: hidden;
}
 .cards_movie{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: max-content;
    transform: translateX(0);
    animation: movi 90s linear infinite;
}

@keyframes movi {
    0% {
        transform: translateX(48%); 
    }
    100% {
        transform: translateX(-48%);
    }
}
.carte{
    width: 400px;
    height:250px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
.carte img{
    width: 100%;
    height: 100%;
}
 
@media (max-width:1440px) {
    .section_temoignage{
        height: auto;
    }
} 

/* Section Contact */
#contact{
    text-align: center;
    padding: var(--pading);
}
.contact-info{
    margin-top: 3rem;
    display: flex; 
}
.contact-info div{
    flex: 1;
    justify-items: center;
    text-align: start;
}
.contact-info a{
    text-decoration: none;
    color: black;
}
.contact-info ul{
    list-style: none;
}
.contact-info ul li{
    line-height: 3rem;
    margin-bottom: 1rem;
}
.contact-info i{
    margin-right: 5px;
}
.contact-info form{
    display: grid;
    width: 100%;
    max-width: 48rem;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.contact-info form input{
    padding: 15px;
    border: none;
    border-radius: 10px;
}
.contact-info textarea{
    padding: 10px;
    border-radius: 10px;
    grid-column: span 2;
    resize: none;
    height: 10vh;
    border: none;
    margin-bottom: 20px;
}
.contact-info button{
    padding: 10px;
    border: none;
    background: var(--btn-color);
    border-radius: 10px;
    color: var(--white-color);
    box-shadow: 0 0 10px 2px var(--btn-hover);
    cursor: pointer;
}
.contact-info button:hover{
    background: var(--btn-hover);
}

/* Pied de page */




/* Section nos produit responsivité */
@media (max-width: 1440px) {
    .section_card {
        width: 100%;

    }
}

@media (max-width: 1024px) {
   .store_content button {
        width: 12em;
        font-size: 11px;
    }

    .card_media {
        height: 20rem;
    } 
}

@media (max-width: 768px) {
    .section_card {
        display: flex;
        flex-direction: column;
    }

    .store_content {
        gap: 1em ;
    }

    .store_content button {
        width: 12em;
        font-size: 11px;
    }
}
@media (max-width: 425px) {
    .store_content {
        gap: 1em ;
    }

    .store_content button {
        width: 12em;
        font-size: 8px;
        border-radius: 5px;
    }
}